<div class="loading" *ngIf="Products.length == 0">
  <nz-spin nzTip="loading"></nz-spin>
</div>

<div class="parent">
  <div *ngFor="let prod of Products" class="product">
    <a [routerLink]="['/products', prod.id]">
      <nz-card nzHoverable style="width: 150px" [nzCover]="coverTemplate">
        <nz-card-meta
          nzTitle="Europe Street beat"
          nzDescription="www.instagram.com"
        ></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img alt="example" class="image" [src]="prod.image" width="110px"  />
      </ng-template>
    </a>
  </div>
</div>
